@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Neucha|Montserrat+Alternates|Comfortaa|Ubuntu|Chelsea+Market|Permanent+Marker|VT323|Special+Elite');

body {
  font-family: "ubuntu";
  color: rgb(255, 255, 255);
  padding: 20px 0 28px 0;
  margin: 0px;
  height: auto;
  background-color: rgb(255, 255, 255); /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffffff,#ffffff,#4e042370, #05287275);
}

h1 {
  text-align: center;
  display: block;
  font-family: "VT323";
  color: #070707bb;
  font-size: 85px;
  text-shadow: 0 0 3px #490c20b6;
}

p {
  color: #000000; /*color letra de contenido (parrafo)*/
  font-family: "Montserrat Alternates";
  text-align: center;
  text-decoration: none;
  font-size: 35px;
}

.header{
  font-size: 1.5rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  text-align: center;
}

.dropdownMenu {
  position: absolute;
  right: 30px;
  top: 50px;
  display: inline-block;
  z-index: 1;
  line-height: 20px;
}

.dropBtn {
  /*ventana desplagable de seleccion*/
 color: rgba(249, 250, 250, 0.945);
 padding: 25px;
 font-size: 20px;
 border: double;
 height: 20px;
 text-align: center;
 font-family: "Permanent Marker";
 border-radius: 100px;
 background: #07070777;
}

.dropdownElements {
  display: none;
  font-size: 20px;
  position: absolute;
  background-color: #f3f6f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(8, 105, 105, 0.356); /*sombra de menu ordenar por */
  z-index: 1;
  border-radius: 0px;
  border-top-left-radius: 0;
}

.dropdownElements a {
  color: rgba(5, 3, 82, 0.692); /*color de letra de pestaña de seleccion*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Neucha";
}

.dropdownElements a:hover {background-color: #ddd;}
.dropdownMenu:hover .dropdownElements {display: block;}
.dropdownMenu:hover .dropBtn {background-color: #3e8e41;}

.news {
  max-width: 400px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 35px;
  border-top-right-radius: 15px;
  background-size: 450px 350px;/*mantiene la imagen centrada*/
  background-repeat: no-repeat;
  background-image: url("https://media.moddb.com/images/members/1/383/382828/Wallpaper_TF2_posters_lower_quality.jpg");
  cursor: grab;
  box-shadow: 0px 8px 16px 0px rgba(5, 5, 5, 0.774);
}


.newsBrief {
  visibility: hidden;
  font-size: 1rem;
  margin-top: 10px;
}

.newsDate {
  visibility: hidden;
  font-size: 0.8rem;
  position: relative;
  float: left;
  top: 100px;
  font-family: "ubuntu";
}

.news:hover .newsDate {
  visibility: visible;
}

.news:hover .newsBrief{
  visibility: visible;
}

.news:hover .newsTitle{
  display: none;
}

.news:hover .newsAuthor{
  display: none;
}

.news:hover .newsPhoto {
  visibility: hidden;
}

.news:hover{
  cursor: pointer;
  box-shadow: 60px 120px 90px 85px rgb(250, 251, 252) inset; /*sombra de imagen al poner cursor*/
}

.news-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
}

.newsTitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  color: rgb(253, 252, 252);
  box-shadow: 85px 90px 90px 70px rgba(7, 7, 7, 0.45) inset;
  border-radius: 15px;
}

.newsAuthor {
  font-size: 1.2rem;
  color: rgb(245, 244, 244);
  text-shadow: 0 0 3px #f50993;
  vertical-align: middle;
}

.newsLink {
  font-size: 0.9rem;
}

.footer {
  font-size: 0.7rem;
  color: #888;
  text-align: center;
  margin: 0;
}

.ir-arriba {
   display: none;
   padding: 20px;
   border-radius: 100px;
   background: #e4d50a;
   font-size: 20px;
   color: #fff;
   cursor: pointer;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 1;
}

/*Carrousel*/
#carousel{
  width: 100%;
  height: 15%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
  top: -5px;
  margin: -15px;
}

#carousel:hover{
  animation-play-state: paused;
}

#carousel figure{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
  background: rgba(7, 7, 7, 0.815);
  overflow: hidden;
  border: solid 15px rgb(0, 0, 0);
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2){ transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3){ transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4){ transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5){ transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6){ transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7){ transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8){ transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9){ transform: rotateY(320deg) translateZ(288px);}
#carousel figure:nth-child(10){ transform: rotateY(360deg) translateZ(288px);}

#carousel img{
  position: absolute;
  cursor: pointer;
  transition: all .5s ease;
  width: 500px;
  height: 200px;
  -webkit-filter: grayscale(1)
}

#carousel img:hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
  from{
      transform: rotateY(0deg);
  }
  to{
      transform: rotateY(360deg);
  }
}
