@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

 

body {
    font-family: "ubuntu";
    background-color: #fffefe;
    color: rgb(255, 255, 255);
    padding: 20px 0 28px 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.app-title {
    text-align: right ;
    font-weight: normal;
    font-size: 5.6rem;

    
}

#root {
    text-align: center;
}

.news {
    max-width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 30px 30px 30px rgba(254, 255, 255, 0.979);
    overflow: hidden;
    flex-direction: row;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url("https://wiki.teamfortress.com/w/images/thumb/4/41/HeavyTaunt.jpg/1024px-HeavyTaunt.jpg");
    margin: 0px auto;
    opacity: 0.9 ;
    color: rgb(255, 255, 255);
    cursor: grab;
    font-family: "ubuntu";

}

.newsBrief {
    visibility: hidden;
    font-size: 1.1rem; /*tamaño de letra/resumen en la noticia*/
    margin: 0;
    font-weight: bold;
}

.newsPhoto {
    z-index: -1;
}

.newsLink {
    visibility: hidden;
    
}

.news:hover .newsBrief {
    visibility: visible;
}

.news:hover .newsTitle {
    display: none;
}

.news:hover .newsAuthor {
    display: none;
}

.news:hover .newsLink {
    visibility: visible;
}

.news:hover .newsPhoto {
    visibility: hidden;
}

.news-photo {
    float: left;
    width: 40%;
    margin-right: 15px;
}

.newsTitle {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.newsAuthor {
    font-size: 0.9rem;
    color: #888;
    vertical-align: middle;
}

.newsLink {
    font-size: 1.9rem;
    
}

.foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: 0.85rem;
    line-height: 1.5;
}

.footer {
    font-size: 0.7rem;
    color: #888;
    text-align: center;
    margin: 0;
}



header {
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 5px;
    font-family: "ubuntu";
    font-size: 40px;
    height: 150px;
    margin-top: 10px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 684px;
    
}

.footer {
    text-align: center;
    font-size: 20px;
}

.title {
    visibility: hidden;
}




.flexItem:hover {
    background-color: rgb(12, 12, 12);
    
}

    .flexItem:hover .title {
        visibility: visible;
        opacity: 1;
    }

.dropBtn {
     /*ventana desplagable de seleccion*/
    color: rgb(189, 186, 4);
    padding: 25px;
    font-size: 20px;
    border: none;
    height: 20px;
    text-align: center;
    font-family: "ubuntu";
    border-radius: 10px;
    font-weight: bold;
    background-image: url ("https://banner2.kisspng.com/20180704/gyb/kisspng-team-fortress-2-quake-team-fortress-classic-dota-2-scout-logo-5b3cebdddb49d8.9882637215307191978982.jpg");
}

.dropdownMenu {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    
}

.dropdownElements {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(8, 105, 105, 0.356); /*sombra de menu ordenar por */
    z-index: 1;
}

    .dropdownElements a {
        color: rgb(12, 11, 11); /*color de letra de pestaña de seleccion*/
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: "Chelsea market";
    }

        .dropdownElements a:hover {
            background-color: rgba(82, 80, 75, 0.507);
        }

.dropdownMenu:hover .dropdownElements {
    display: block;
}

.dropdownMenu:hover .dropBtn {
    background: #bfcc0877;
}

.url {
    cursor: url(myBall.cur),auto;
}
/*Cambio del cursor automatico para URL*/
img { /*Propiedades de la imagen logo*/
   position: left;
    width: 100px;
    height: 100px;
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
}

img:hover {
    width: 400px;
    height: 400px;
}




header {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: center;
}

h1 {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: "Chelsea Market";
    color: #2b61522a;
}
h2 {
color: #242020; /*color letra de titulo*/
font-family: "Chelsea Market";
text-align: center;
text-decoration: none;

}

p{
    color: #000000; /*color letra de contenido (parrafo)*/
    font-family: "Ubuntu";
    text-align: center;
    text-decoration: none; 
    font-size: 35px;
}

    /*boton de ir arriba*/
    .ir-arriba {
        display: none;
        padding: 20px;
        background: #024959;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1;
    }
 


  /********************menú*/
  
  

  .nav{
    position:absolute;
    width:200px;
    height:100vh;
    top:0;
    left:-220px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
    padding-top:47px;
    background-color: rgb(73, 74, 75); /*fondo de menú*/
    border-right:4px solid rgba(3, 148, 148, 0.562); /*borde de menú*/
    transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
    z-index: 1;
   
    
  }
     /*Estilos de los li del menú*/
     .nav__item {
       display:block;
       width:96%;
       margin:0 auto;
       line-height:2;
       position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
       border-bottom:.5px solid rgb(139, 141, 47); /*linea divisoria*/
       border-top:.5px solid rgba(11, 129, 109, 0.5);
       background-color:transparent;
       font-family: "Ubuntu";
       text-align:center;
       color:rgba(221, 231, 228, 1);
       text-decoration: none;
     }
         /*Damos colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
         .current:before {
            content:"";
            width:0;
            height:0;
            position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
            border-top:17px solid transparent;
            border-left:15px solid rgba(18, 204, 218, 0.767); /*triangulo del menu*/
            border-bottom:17px solid transparent;
            top:0px;
            right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
            z-index:4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
         }
        /*Colocamos el borde verde al triangulo por medio de otro trangulo verde*/
        .current:after {
            content:"";
            width:0;
            height:0;
            position:absolute;/*Le damos al after una posición absoluta relativa al li que lo contiene*/
            border-top:16.5px solid transparent;
            border-left:17px solid rgba(7, 106, 124, 0.295); /*Pico del menú*/
            border-bottom:17px solid transparent;
            top:.5px;
            right:-21px;
            z-index:1;  /*le otorgamos un z-index bajo para que se posicione debajo del trinagulo negro*/
        }
    /*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
    .menu-toogle {
      position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
      width: 35px;
      line-height:1.1;
      text-align:center;
      top:6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
      left: 8px; 
      border-radius:3px;
      background-color: #2b61528e; /*Color de cuadrito de menú*/
      transition: all .5s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
      z-index:10;
    }
      /*Añadimos la haburguesa y le damos unos estilos*/
      .menu-toogle::before {
          cursor: help;
        content:"☰";
        font-size:32px;
        color:rgb(243, 240, 240); 
        
      }
  
  /* Le damos unos estilos al contenedor principal*/
  
  
      /*Estos son los estilos que le dan la funcionalidad al menú*/
      /*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
      .checkbox {
        display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
      }
      .checkbox:checked ~ .nav {
        left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
        position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
      }
      .checkbox:checked ~ .main-w {
        margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
      }
      .checkbox:checked ~ .menu-toogle { 
        left:208px;
        position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
      }
  
      