body {
  font-family: sans-serif;
  background-color: #dedede;
  color: #333;
  padding: 20px 0 28px 0;
  margin: 0;
}

.header{
  font-size: 1.5rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  text-align: center;
}

.dropdownMenu {
  position: absolute;
  right: 100px;
  top: 10px;
  display: inline-block;
}

.dropBtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 15px;
  border: none;
  height: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dropdownElements {
  display: none;
  font-size: 15px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
  border-top-left-radius: 0;
}

.dropdownElements a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownElements a:hover {background-color: #ddd;}
.dropdownMenu:hover .dropdownElements {display: block;}
.dropdownMenu:hover .dropBtn {background-color: #3e8e41;}

.news {
  max-width: 300px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-direction: row;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-radius: 30px
}


.newsBrief {
  visibility: hidden;
  font-size: 1rem;
  margin: 0;
}

.newsDate {
  display: none;
  font-size: 0.8rem;
}

.news:hover .newsDate {
  display: block;
}

.news:hover .newsBrief{
  visibility: visible;
}

.news:hover .newsTitle{
  display: none;
}

.news:hover .newsAuthor{
  display: none;
}

.news:hover .newsPhoto {
  visibility: hidden;
}

.news:hover{
  cursor: pointer;

}

.news-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
}

.newsTitle {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.newsAuthor {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}

.newsLink {
  font-size: 0.9rem;
}

.foods-list {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.footer {
  font-size: 0.7rem;
  color: #888;
  text-align: center;
  margin: 0;
}
